/* fonti */
.dun_fonts {
  /* font-family: 'Homemade Apple', cursive; */
  font-family: 'Leckerli One', cursive;
}

.dun_fonts2 {
  font-family: 'Anton', sans-serif;
}

.dun_fonts3 {
  font-family: 'Pacifico', cursive;
}

/* Nav Barr */
.logo_in_nav {
  position: absolute;
  z-index: +7;
  margin: 0 44%;
}
@media (max-width: 1000px) {

  .logo_in_nav {
    position: absolute;
    z-index: +7;
    margin: 0 35%;
  }
}
.nav_size {
  width: 10%;
}
.logo_size {
  width: 280px;
 height: auto;

}
.nav_bar_spacing {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid {
  margin-right: 90%;
}
.navbar-toggler-icon {
  padding: 25px 25px;
}
.collapse {
  background-color: #ffff;

}
.colaps-color {
  background-color: #9b3675;
}
.nav-size {
  font-size: 30px;
}
.nav-size2 {
  font-size: 30px;
  padding: 10px 110px;
}

.nav-color {

  color: black;
}
.nav-color2:hover {
  color: Yellow;
}

/* logo picture */
.logo_picture{
  margin: 0;
}
.container1 {
  text-align: center;
  margin-bottom: 50px;
}
/* Karuselis */
.otradala-carusel {
  margin-top: 50px;
  margin-bottom: 50px;
}
.kar-bild {
  border-radius: 30px;
  max-width: 30%;
   height: auto;
}
.kar-bild1 {
  max-width: 60%;
}
/* Jaunumi */

  .jaunumi_background {
    background-color: #9ecca4;
    height: auto;
    margin-top: 200px;
  }
.Jaunmi_janumi {
  text-align: justify;
  font-size: 35px;
  color: #9b3675;
}
.btn_apskatit {
  margin-top: 20px;
  border-color: #1f441e;
  color: black;
  font-size: 25px;
}
.btn_apskatit:hover {
  color: #cee6b4;
  background-color: #9b3675;
  border-color: #9b3675;
}

/* Jaunumu End */
/* Par un ap */
.parunap_sekcija{
  margin-top: 40px;
}
.how-section1{
    margin-top:-15%;
    padding: 10%;
}
p {
  font-size: 20px;
}
.how-section1 h4{
    color: #9b3675;

    font-size: 30px;
}
.how-section1 .subheading{
    color: #1f441e;
    font-size: 30px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img
{
    text-align: center;
}
.how-img img{
    width: 40%;
}

/* Par un ap END */
/* Soc tikli un sazina */
/*Left Side Buttons Start*/
  .sticky-left-container{
    padding: 0;
    margin: 0;
    position: fixed;
    left: -158px;
    top:40%;
    width: 200px;
    z-index:2;
  }
  .sticky-left li{
    list-style-type: none;
    color: #efefef;
    height: 43px;
    padding: 0;
    margin: 0 0 1px 0;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor: pointer;
  }
  .sticky-left li:hover{
    margin-right: -150px;
    background:#333;
    border-radius: 25px 25px 25px 0;
  }

  .sticky-left li img{
    float: right;
    border-radius:50%;
    margin: 5px 5px;
    margin-left: 10px;
  }
  .sticky-left li p{
    padding: 0;
    float:right;
    margin: 0;
    text-transform: uppercase;
    line-height: 43px;
  }
/*Left Side Buttons End*/


/* Soc tikli un sazina END */
/* Footer */

.footer-basic {
  margin-top: 50px;
  padding:40px 0;
  background-color:#9b3675;
  color: yellow ;

}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
  font-size: 25px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.7;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#9b3675;
  margin-bottom:0;
}
/* Footer End*/
/* contactMe */
.contactBody {
  margin: 0 10%;
}
aside {
    background: #9b3675; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
/* .button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
}
*/
#name, #email {
  width: 50%;
}
.honeypot-field {
  display: none;
}

/* contactMe END */
